<header class="site-header grid grid-cols-12">
    <div class="col-span-12 bg-blue-900 text-white text-lg py-4 px-12 grid grid-cols-12 items-center">
        <div class="col-span-12 md:col-span-6 flex items-center space-x-4 flex-wrap">
            <span><i class="fa-solid fa-map-location"></i> 54 NJ-12, Flemington, United States</span>
            <span><i class="fas fa-phone"></i> +153-987-3657</span>
            <span><i class="fas fa-envelope"></i> info@webteck.com</span>
        </div>
        <div class="col-span-12 md:col-span-6 flex justify-end items-center space-x-4 mt-2 md:mt-0">
            <span>Follow Us On:</span>
            <a href="#" class="text-white hover:text-gray-300"><i class="fab fa-facebook-f"></i></a>
            <a href="#" class="text-white hover:text-gray-300"><i class="fab fa-twitter"></i></a>
            <a href="#" class="text-white hover:text-gray-300"><i class="fab fa-linkedin-in"></i></a>
            <a href="#" class="text-white hover:text-gray-300"><i class="fab fa-instagram"></i></a>
            <a href="#" class="text-white hover:text-gray-300"><i class="fa-brands fa-youtube"></i></a>
        </div>
    </div>
    <nav class="col-span-12 bg-blue-100 shadow-md py-6 px-12 grid grid-cols-12 items-center text-sm">
        <div class="col-span-3 flex items-center">
            <a href="../index.html" class="ml-2 font-bold text-blue-900 text-4xl">WebDemo</a>
        </div>
        <ul class="col-span-6 flex justify-center space-x-6 uppercase font-semibold text-base">
            <li><a href="../index.html" class="text-gray-800 hover:text-blue-900">Home</a></li>
            <li><a href="../aboutus.html" class="text-gray-800 hover:text-blue-900">About Us</a></li>
            <li><a href="#" class="text-gray-800 hover:text-blue-900">Product</a>
                <i class="fa-solid fa-chevron-down hover:text-blue-900"></i>
            </li>
            <li><a href="../contact.html" class="text-gray-800 hover:text-blue-900">Contact</a></li>
        </ul>
        <div class="col-span-3 flex justify-end items-center space-x-4">
            <div class="bg-white rounded-full p-3 w-12 h-12 shadow-md flex items-center justify-center">
                <i class="fa-solid fa-magnifying-glass text-blue-900"></i>
            </div>
            <button class="bg-blue-900 text-white font-medium px-4 py-2 h-14 w-auto rounded hover:bg-black uppercase">
                Make Appointment
                <i class="fa-solid fa-arrow-right"></i>
            </button>
        </div>
    </nav>
</header>